<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/css/style.css">
    <title>Emilia Cole - About</title>
    <link rel="shortcut icon" href="/img/icon/favicon-32x32.png" />
    <script src="https://kit.fontawesome.com/17cacf0970.js" crossorigin="anonymous"></script>
</head>
<body class="body-home">
    <header class="home">
        <nav class="header__nav_horizontal header menu_about" >
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <nav class="header__nav_horizontal menu_social">
             <ul>
             <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://es-la.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
            <li><a href="https://www.amazon.com/-/es/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
            <li><a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
        </nav>
    </header>
    <!--<img class="img_about" src="img/emilia-about.jpg" alt="Imagen de portada" width="100%">-->
    <section>
        <h1 class="titulo">ABOUT<br>EMILIA//</h1><br><br>
        <article class="texto_a">
        <h2>"Seattle-based pop star makes her indie debut with a hauntingly beautiful album"</h2><br>
        <h3>- John Tirckle, Music Today Post </h3><br><br><br>
        <h2>"Emilia Cole is one of thescene's breakout stars"</h2><br>
        <h4>- John Tirckle, Music Today Post</h4>
    </section>
</body>
</html>

