<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/css/style.css">
    <title>Emilia Cole - About</title>
    <link rel="shortcut icon" href="/img/icon/favicon-32x32.png" />
    <script src="https://kit.fontawesome.com/17cacf0970.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="header__nav_horizontal header menu">
            <ul class="menu">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <nav class="header__nav_horizontal">
        <ul>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://es-la.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
            <li><a href="https://www.amazon.com/-/es/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
            <li><a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
         </ul>
         </nav>
    </header>
    <section>
        <h1>CONTACT//</h1>
        <h3>We are here</h3>
        <article>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13152.594377892252!2d-58.7717154!3d-34.49911695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1697171882778!5m2!1ses-419!2sar" width="1200" height="330" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h3>CONTACT INFO</h3>
            <h4>MANAGEMENT | Karen Blanche</h4>
            <a href ="mailto:info@mysite.com">email: info@mysite.com</a><br>
            <a href ="tel:123-456-7890">phone: 123-456-7890 </a>
        </article>
        <article>
            <h4>BOOKING | Daniel ku</h4>
            <a href ="mailto:info@mysite.com">email: info@mysite.com </a><br>
            <a href ="tel:123-456-7890">phone: 123-456-7890 </a>
        </article>
        <article>
            <h4>LABEL | Wix Records, Jake Coldman</h4>
            <a href ="mailto:info@mysite.com">email: info@mysite.com </a><br>
            <a href ="tel:123-456-7890">phone: 123-456-7890 </a>
        </article>
        <article>
            <h4>PR | That Girl Pr, Sarah Brookstone</h4>
            <a href ="mailto:info@mysite.com">email: info@mysite.com</a><br>
            <a href ="tel:123-456-7890">phone: 123-456-7890 </a>
        </article>
    </section>
</body>
</html>