menu {
    overflow: hidden;
    background-color: rgba(100%, 100%, 100%, 0.5);
    padding: 10px
    float: right;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}