.index_body{
    background-image: url(/img/emilia-home.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
}

.index__margin{
    margin-left: 20px;
}

.index__margin h3 {
    margin-top: 70px ;
}

.index__body h1{
    background-color:rgba(225,2225,225,0.5);
    font-size: 30px;

}