body {
    position: relative;
} 

nav {
    margin: 10px 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #000;
}

.container {
    overflow: hidden;
}

.container__header {
    float: left;
    padding-left: 30px;
    width: 30%;
}

.photo {
    float: right;
    width: 66%;
}


.name{
    font-size: 40px;
    margin-top: 100px;
}

.title {
    background-color:rgba(225,225,225,0.5);
    position: absolute;
    bottom: 70px;
    width: 100%;
    left: 0;
    padding: 10px;
    font-size: 75px;
}

